body {
    margin: 20px;
    padding: 0;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
}
.container {
    max-width: 500px;
}
.post {
    padding: 20px;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 30px;
    margin-bottom: 10px;
}
.post__date {
    text-align: right;
    font-size: 12px;
    color:  rgb(122, 121, 121);
    margin-bottom: 10px;
}
.post__position {
    font-size: 12px;
    color:  rgb(122, 121, 121);
    margin-top: 10px;
}
input.post-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.create-post {
    position: relative;
    margin-bottom: 10px;
}

.warning {
    width: 400px;
    padding: 20px;
    border: 1px solid rgb(160, 159, 159);
    background-color: white;
}
.warning_active {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
}
.warning-position {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    box-sizing: border-box;
}
.warning__submit {
    padding: 10px;
    margin-right: 2px;
    background-color: rgb(60, 148, 60);
    color: white;
    border: 0;
}
.warning__cancel {
    padding: 10px;
    margin-right: 10px;
    background-color: rgb(118, 116, 115);
    color: white;
    border: 0;
}

.post-video {
    position: absolute;
    right: 0;
    top: 7px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.video {
    display: none;
    max-width: 500px;
}
.video_active {
    display: block;
}
.video-controls {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
}
.video-controls_active {
    display: flex;
}
.video-save, .video-cancel {
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    background-color: rgb(167, 164, 163);
    color: white;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
}
.video-timer {
    margin: 0 10px;
    padding-top: 5px;
}
.video-post {
    max-width: 100%;
}

.hidden {
    display: none;
}